

.container-md {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-col{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-img {
  padding-top: 5rem;
}



.row{
  width: 90%;
  text-align: center;
}

.h1-home{
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .container-md {
    padding: 0.5rem 2rem;
  }
  .row{
    width: 100%;
  }
  .first-home-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .description{
    font-size: 15px;
  }
}
