.profs {
  width: 100%;
}

p {
  text-align: justify;
}

.container1 {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border-bottom: #777 solid 1px;
  padding-top: 1rem;
}

.padd-1rem {
  padding: 1rem;
}

.th {
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 0.6rem 2rem !important;
}

tr {
  text-align: center;
}

.teacherImg {
  width: 60%;
  height: 40%;
  float: right;
}
.myImage {
  height: 200px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.teacher-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  padding: 2rem 0;
  width: 90%;
  
}

.teacher-div .col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.founders {
  width: 100%;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: solid 1px #777;
}

.caption {
  font-size: 15px;
  text-align: center;
}

.sm-table, .th, .td {
  border: 1px solid black;
  border-collapse: collapse;
}

.td{
  padding: 1rem;
}

.sm-table{
  display: none;
  width: fit-content;
  justify-content: center;
}

.imgTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem
}


@media screen and (max-width: 760px) {
  .teacher-div {
    width: 100%;
  }

  .container{
    padding: 0px !important;
  }

  .container1{
    width: 100%;
  }

  .caption {
  font-size: 10px
}
  .md-table{
    display: none;
  }

  .sm-table{
    display: block;
    border: none;
  }

  .container2 {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
  }

  .container2 p{
    text-align: justify;
  }
}
