.grid-container {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:40px 30px;
}

.serials-img{
  object-fit: cover;
}

.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.pad-right{
  padding-right: 30px;
  padding-top: 30px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: 1/4;
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }

  .pad-right{
    font-size: 20px;
    padding-right: 10px;
  }

  .flexbox{
    padding: 1rem 0.5rem;
    width: 100%;
  }

  .grid-container{
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
